<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Automation</title>

    <!-- Jquery  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="../js/tippy/animation.css">

    <!-- JS Files -->
    <script src="../js/jq-bs-bundle.js"></script>
    <script src="../js/interact.js"></script>
    <script src="../js/xlsx.min.js"></script>
    <script src="../js/moment.js"></script>
    <script src="../js/touchSwipe.js"></script>
    <script src="../js/crypto.js"></script>
    <script src="../js/tippy/popper.js"></script>
    <script src="../js/tippy/tippy.js"></script>

    <script>
        var g_menuTabSelected = "";
    </script>
</head>
    <body>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div id="wrapper">
            <%- include("menu") %>
            <div id="mainContent">
                <%- include("jira") %>
                <div class="bg-dark-light rounded-15 w-100 h-100">
                    <div id="feedbackAlert" class="position-absolute" style="width: 40%; left: 0%; top: 10%; z-index: 99999;"></div>
                    <div class="tab-content m-0 p-0 h-100 position-relative" id="v-pills-tabContent">
                        <div class="tab-pane h-100 p-3 fade" id="v-pills-myu" role="tabpanel" aria-labelledby="v-pills-myu-tab">
                            <h2 class="fw-bold mb-0">Model Year Updates</h2>
                            <hr>
                            <div class="mx-0 px-0 ">
                                <div class="w-100 px-3 ">
                                    <div class="d-flex justify-content-start px-3 ">
                                        <h3 class="me-4">Models</h3>
                                        <div class="input-group mb-3 w-50">
                                            <span class="input-group-text bg-dark border-0" id="icon-addon1"><img src="../img/bmw.svg" width="20px"></span>
                                            <input type="text" class="form-control bg-dark border-0" placeholder="Search by name..." 
                                            aria-label="Search by name..." aria-describedby="icon-addon1" id="searchModel">
                                        </div>
                                    </div>
                                    <div class="position-relative">
                                        <div class="d-flex justify-content-start p-3" id="modelsScrollHorizontal" style="overflow-x: auto;">
                                            <!--- 
                                                <div class="d-flex align-items-center flex-column me-4" role="button">
                                                <img src="" width="142px">
                                                <h3>${element.name}</h3>
                                            </div>
                                                -->
                                        </div>
                                        <div class="position-absolute w-100 h-100 modelsAfterSelectedP" style="display: none;">
                                            <div class="bg-modelSelect">
                                                <div class="bg-dark" id="modelsAfterSelected"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h4>URLs</h4>
                                    <div id="authorURLs" class="d-flex flex-column pt-2" style="overflow-y: auto; height: calc(100vh - 380px);">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane h-100 p-3 fade" id="v-pills-maco" role="tabpanel" aria-labelledby="v-pills-maco-tab">
                            <%- include("offers") %>
                        </div>
                        <div class="tab-pane h-100 p-3 fade show active" id="v-pills-cosy" role="tabpanel" aria-labelledby="v-pills-cosy-tab">
                            <%- include("cosy") %>
                        </div>
                        <div class="tab-pane h-100 p-3 fade" id="v-pills-templates" role="tabpanel" aria-labelledby="v-pills-templates-tab">
                            <%- include("techspecs") %>
                        </div>
                        <div class="tab-pane h-100 p-3 fade" id="v-pills-confluence" role="tabpanel" aria-labelledby="v-pills-confluence-tab">
                            <%- include("confluence") %>
                        </div>
                        <div class="tab-pane h-100 p-3 fade" id="v-pills-myconfig" role="tabpanel" aria-labelledby="v-pills-myconfig-tab">
                            <%- include("config") %>
                        </div>
                        <div class="tab-pane h-100 p-3 fade" id="v-pills-textEditor" role="tabpanel" aria-labelledby="v-pills-textEditor-tab">
                            <%- include("editor") %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <script src="../js/errors.js"></script>
        <script src="../js/templates.js"></script>
        <script src="../js/electron-f.js"></script>
        <script src="../js/clipboard.min.js"></script>
        <script src="../js/logic.js"></script>
        <script src="../js/auth.js" ></script>
        <script src="../js/bringModels.js"></script>
        <script src="../js/db.js"></script>
        <script src="../js/techspecs.js"></script>
        <script src="../js/config.js"></script>
        <script src="../js/cosy.js"></script>
        <script src="../js/texteditor.js"></script>
        <script src="../js/confluence.js"></script>
        <script>if (window.module) module = window.module;</script>
    </body>
</html>